* {
    margin: 0;
}

body {
    /* width: 70%; */
    /* max-width: 760px; */
    background-color: white;
    font-family: Arial;
    margin: 0px auto;
}

#main {
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.logo {
    align-self: center;
    margin-bottom: 2em;
}

.logosep {
  margin-top: 1em;
  margin-bottom: 1em;
  align-self: center;
  background-color: black;
  width: 100%;
  height: 1.1pt;
}

#gen_menu {
  width: 100%;
  display: flex;
  justify-content: right;
}

#gen_menu a {
  margin-left: 1em;
  margin-right: 0.4em;
  margin-top: 0.15em;
}

#base_content {
  margin: auto;
}

#explanation_text {
  margin-top: 1em;
  margin-bottom: 2em;
}

#explanation_text h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

#box_content {
  /* margin: auto; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1em;
  margin-bottom: 1em;
  /* align-items: center; */
  /* justify-content: space-around; */
}

#box_content section {
  margin-left: auto;
  margin-right: auto;
}

#box_content h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.footer {
  display: flex;
  justify-content: space-around;
